#about {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

#about header {
  max-width: 35rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  line-height: 2;
  font-size: 1.2rem;
  text-align: justify;
}

#about img {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
