#about {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

#about header {
  max-width: 35rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  line-height: 2;
  font-size: 1.2rem;
  text-align: justify;
}

#about img {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 680px;
  max-height: 450px;
  width: 100%;
  height: auto;
}

@media (max-width: 1400px) {
  #about {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #about img {
    display: none;
  }
}
