#about {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

#about header {
  max-width: 35rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  line-height: 2;
  font-size: 1.2rem;
  text-align: justify;
}
