#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-bottom: 4rem;
}

#products-categories ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 1rem;
  list-style: none;
}

#products-categories ul li {
  background-color: var(--primary);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#products-contact a {
  text-decoration: none;
  color: #fff;
}

#products-contact button {
  all: unset;
  margin-top: 2rem;
  background-color: var(--secondary);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 12rem;
  text-align: center;
  transition: background 0.3s ease;
}

#products-contact button:hover {
  background-color: var(--secondary-hover);
}
